html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
  height: 100%;
}

.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.p-0 {
  padding: 0 !important;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Ensure content is scrollable if it overflows */
}
